body {
  background-color: #04173b;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.App {
  text-align: center;
}

.space {
  font-size: 2rem;
  margin: 0;
}


.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.container {
  display: flex;
  padding: 20px;
}

.space-available-card {
  width: 50%;
}

.inner-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.small-cards {
  width: 100px;
  text-align: center;
  /* font-size: 20px; */
}

.number {
  margin-bottom: 0px;
  font-size: 30px;

}

.space-text {
  margin-top: 0px;
  /* font-size: 20px; */
  letter-spacing: 2px;
}

.team-size {
  display: flex;
  /* width: 500px; */
  justify-content: center;
  align-items: center;
}

.team-size-text {
  width: 300px;
  font-weight: 700;
}

.tier-text {
  width: 400px;
  font-weight: 700;

  /* text-align: left; */
}

.tier-cards {
  display: flex;
  /* width: 600px; */
  margin: 0px auto;
  justify-content: center;
  margin-top: 20px;
}

.tier-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #04173b;
  padding: 5px 7px;
  margin: 0px 10px;
  border-radius: 20px;
}

.space-available-card {
  color: #fff;
  /* background-color: #000; */
  padding: 10px;
}

.buttons {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 0px 10px;
}

.time button {
  font-size: 25px;
  margin: 0px 5px;
  padding: 0px 20px;
  text-align: center;
}

/* .discount {
  transition: 3s;
}

.total {
  transition: .5s;
} */

.book-btn {
  padding: 5px 25px;
  font-size: 18px;
  /* font-weight: 600; */
  width: 400px;
  border-radius: 10px;
  color: #04173b;
  border: none;
  cursor: pointer;
  transition: .2s;
  margin: 10px 0px;
}

.book-btn:hover {
  color: #134aaf;
  /* background: #4e4a4a; */
}

.workspace-visibility {
  width: 50%;
  /* height: 900px; */
  background: #fff;
}




